<!-- Header should show a name of the project + display users email on each page. -->
<header>
    <title>header</title>
</header>
<body>
    <style>
        
        span {
            font-size: 50px;
        }

        nav {
            background-color: purple;
        }
    </style>
    <nav>
        <span> TinyApp for LHL</span>
    </nav>
    <% if(user) { %>
    <p>Welcome back, <%=user.email%></p>
    <form style="display: inline-block;" action="/logout" method="POST">
	<br>  
        <input name="logout" type="submit" value="logout">
    </form>
    <% } else  { %>
    <p>Please<a href="/login">Login</a>. If you are not yet a user, please <a href="/register">Register</a></p>
    <% };%>

</body>
