<!DOCTYPE html>
<html lang="en">

	<head>

		<title></title>

	</head>

	<body class="container">
		<form action="" method="POST">
			<input type="text" name="username" placeholder="#" style="width: 300px">



		</form>

		<header>

		</header

	</body>

</html>