<% if(username) { %>
    <%=  username %>
    </p>
    <form style="display: inline-block;" action="/logout" method="POST">
        <input name="logout" type="submit" value="logout">
    </form>
    <% } else  { %>
  	<p>Please <a href='/login'>sign</a> in or <a href='/register'>register!</a></p>
    <% };%>



