<DOCTYPE! html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title> TinyApp</title>
	</head>

	<body>

		<h1>URLS</h1>
		<li><a href='#'><%= shortURL %></a> - <%= longURL %></li>

	</body>


</html>