<DOCTYPE! html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title> TinyApp</title>
	</head>

	<body>

		<h1>URLS</h1>
		<% for(var loop in urls){%>
		<li><a href='#'><%= urls[loop] %></a> - <%= loop %>></li>
		<%} %>

	</body>


</html>
