<!DOCTYPE html>
<html>
<head>
    <%include partials/_header%>
    <title>Short URL details</title>
</head>
<body>
    <style>
            body {
                text-align: center;
            }
    </style>
	<hr>
    <p><strong><%=shortURL%></strong> - <strong><a href="<%=longURL %>" style="text-decoration:none">
	    <%=urls[shortURL].longURL%></a></strong>
	</p>
    <h3>Change your long URL for your short URL</h3>
    <hr>
    <form action="/urls/<%= shortURL %>" method="POST">
        <label for="longURL">Enter a new URL: </label>
        <input id="longURL" type="text" name="longURL" placeholder="http://become-a-jedi.com" style="width: 207px">
        <input type="submit" value="Submit">
    </form>
</body>
</html>