<!DOCTYPE html>
<html>

	<head>

		<title></title>

	</head>
	<body>

		<form method="Post" action="/urls">
			<input type="email" name="email"  placeholder="email@becomeAjedi.com" style="width: 300px">
			<input type="password" name="password" placeholder="Enter your password" style="width: 310px">
			<button type="submit" class="btn btn-primary">Create</button>
		</form>
	</body>
</html>